/* Импортируем нужные ресурсы */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@font-face {
	font-family: 'Montserrat'; 
	src: local('Montserrat'),
		url(../Fonts/Monsterrat/Montserrat-Regular.ttf); 
}
/* Шапка страницы */
header{
    background: linear-gradient(270deg, #005772, #3cb6e5);
    margin-top: -0.8em;
    margin-left: -1.1ex;
    margin-right: -1ex;
    height: 80px;
    opacity: 0.8;
}
.hea {
    font-family: Montserrat;
    font-size: 50px;
    margin-top: -1.2em;
    margin-left: 42%;
	color: #0d0d0e;
}
@media (width < 690px){
	.hea{
		margin-left: 30%;
	}
}
@media (width < 480px) {
	.hea {
		margin-left: 23%;
	}
}
@media (width < 400px) {
	.hea {
		font-size: 40px;
		margin-left: 25%;
		margin-top: -14%;
	}
  }	
@media (width < 390px) {
	.hea {
		font-size: 40px;
		margin-left: 25%;
		margin-top: -15%;
	}
  }
.logo{
    margin-left: 39%;
    margin-top: 0.8em;
    height: 55PX;
}
@media (width < 1740px) {
	.logo {
		margin-left: 37%;
	}
  }
  @media (width < 1055px) {
	.logo {
		margin-left: 35%;
	}
  }
  @media (width < 690px){
	.logo{
		margin-left: 21%;
	}
}
@media (width < 500px){
	.logo{
		margin-left: 11%;
	}
}
@media (width < 390px){
	.logo{
		margin-left: 10%;
	}
}

a{
    text-decoration: none;
    color: white;
}
/* Основная часть страницы */
body{
    background-image: url(../Images/Other/iphone-14-pro-display2.png);
    font-family: Montserrat;
    background-attachment: fixed ;
	background-position: top center;
}

.b1{
	width: 25px;
	margin-top: 0px;
	margin-right: 2px;
}

h1{ font-style: bold;
	font-size: 6em;
	margin-top: 1%;
		color: #308fb4;
		margin-left: 4%;
}
@media (width < 450px) {
	h1 {
		font-style: bold;
		font-size: 4em;
		margin-top: 8%;
		color: #308fb4;
		margin-left: 11%;
	}
  }
@media (width < 400px) {
	h1 {
		font-size: 3em;
		margin-left: 19%;
	}
  }
  @media (width < 380px) {
	h1 {
		font-size: 3em;
		margin-left: 16%;
		margin-top: 10%;
	}
  }
  @media (width < 350px) {
	h1 {
		font-size: 80px;
		margin-left: 16%;
		margin-top: 10%;
	}
  }
  @media (width < 320px) {
	h1 {
		font-size: 80px;
		margin-left: 10%;
		margin-top: 10%;
	}
  }
.Whitebox{
	border-radius: 1.5em;
	margin-left: 3.5%;
	background-color: #f9f9f9;
	width: 93%;
	height: 80em;
}
  @media (width < 500px){
.Whitebox {
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
}
}
   @media (width < 1300px){
.Whitebox {
    height: 50em;
}
  } 
.deliv{
	position: absolute;
	margin-top: 2%;
	margin-left: 4%;
	font-size: 35px;
}
@media (width < 1400px) {
	.deliv {
		margin-left: 1%;
	}
  }
  @media (width < 660px) {
	.deliv {
		font-size: 1.5em;
		text-indent: 30px;
		margin-top: 4%;
		margin-left: 2%;
	}
  }
  @media (width < 500px) {
	.deliv {
		width: 85%;
		font-size: 1.35em;
		text-indent: 25px;
		margin-top: 4%;
		margin-left: 2%;
	}
  }
  .map{
	margin-left: 59%;
    margin-top: 6%;
    position: absolute;
	width: 500px;
	height: 320px;
  }
  @media (width < 1520px) {
	.map {
	margin-left: 53%;
    margin-top: 6%;
    position: absolute;
	width: 500px;
	height: 320px;
	}
  }
  hr{
	border: none;
    background-color: #308fb4;
    color: #308fb4;
    height: 3px;
	width: 92.2%;
	position: absolute;
	margin-top: 30%;
  }
   @media (width < 1400px) {
	hr {
		width: 92%;
	}
  }
  @media (width < 500px) {
	hr {
		width: 86.5%;
		margin-top: 25%;
	}
  }
 
  @media (width < 400px) {
	hr {
		width: 86%;
		margin-top: 26%;
	}
  }
.secondc{
	display: none;
}
@media (width < 1330px) {
	.secondc {
		display: contents;
		color: #308fb4;
	}
  }
.CDEK{
	margin-left: 3%;
	position: absolute;
	width: 20%;
}
@media (width < 1400px) {
	.CDEK {
		margin-left: 1%;
	}
  }
@media (width < 1330px) {
	.CDEK {
		display: none;
	}
  }
.colortext{
	font-size: 30px;
	color: #308fb4;
}
@media (width < 500px) {
	.colortext{
		width: 80%;
		font-size: 1.3em;
		margin-top: -305%;
	}
  }
.adres{
	position: absolute;
	margin-top: 15%;
	margin-left: 3%;
	font-size: 25px;
	width: 50%;
}
@media (width < 500px) {
	.adres{
		width: 80%;
		font-size: 1em;
		margin-top: 30%;
		margin-left: 2%;
	}
  }
  .text{
	position: absolute;
	margin-top: 35%;
	margin-left: 3%;
	font-size: 30px;
	width: 85%;
  }
  .text1{
	color: #308fb4;
	position: absolute;
	margin-top: 40%;
	margin-left: 3%;
	font-size: 30px;
	width: 85%;
  }
  .text2{
	position: absolute;
	margin-top: 45%;
	margin-left: 3%;
	font-size: 30px;
	width: 85%;
  }
.social,
.menu {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
}
.social li,
.menu li {
   list-style: none;
}
@media (width < 500px) {
	.social {
		margin-left: -6%;
	}
  } 
.social li a {
   font-size: 2em;
   color: #c7e5ed;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
}
.menu li a {
   font-size: 1.2em;
   color: white;
   margin: 0 15px;
   text-decoration: none;
   display: inline-block;
}

.menu li a:hover {
   opacity: 1;
}
footer {
	position: fixed;
    background: #005772;
	box-shadow: 3px 0 7px rgba(0, 0, 0, 0.4);
   padding: 1.75em .5em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 6%;
   border-radius: 2em;
   position: static;
   }
/* Меню */
button {
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
	line-height: 1;
	color: inherit;
	font-family: 'San Francisco Pro Text', Montserrat;
	font-size: 16px;
  }
  
  @media (width >= 500px) {
	button {
	  font-size: 20px;
	}
  }
  
  :is(.navbar, .dropdowns) {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .navbar {
	position: static;
	margin-top: -67px;
	width: 300px;
	z-index: 1;
	left: 0;
	display: flex;
	align-items: stretch;
	height: 72px;
	color: black;
  } 
  @media (width < 690px) {
	.navbar {
		display: none;
	}
  }
  .button {	
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 0 24px;
	height: 100%;
	opacity: 1;
	margin-top: 2px;
	font-size: 30px;
	font-weight: bold;
  }
  
  @media (width >= 500px) {
	.button {
	  padding: 0 10px 0 24px;
	}
  
  }
  
  @media (width >= 500px) {
	.dropdown:hover .button {
	  opacity: 1;
	}
  }
  
  .dropdowns {
	left: -9999px;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #0d0d0e;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 0.3s;
  }
  
  @media (width < 500px) {
	body.open .dropdowns {
	  opacity: 1;
	  visibility: visible;
	  left: 0;
	}
  }
  
  @media (width >= 500px) {
	.dropdowns {
	  position: static;
	  flex-direction: row;
	  justify-content: flex-start;
	  background: transparent;
	  opacity: 1;
	  visibility: visible;
	}
  }
  
  .dropdown {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
  }
  
  .dropdown-menu {
	margin-top: 3px;
	display: grid;
	margin-bottom: 28px;
  }
  
  @media (width >= 500px) {
	.dropdown {
	  height: 100%;
	  flex-direction: row;
	}
  
	.dropdown-menu {
	  position: absolute;
	  top: 72px;
	  left: 0;
	  width: 200px;
	  padding: 6px 24px 10px;
	  margin-bottom: 0;
	  place-items: start;
	  background: #308fb4;
	  opacity: 0;
	  visibility: hidden;
	  translate: 0 24px;
	  transition: 0.3s;
	}
  
	.dropdown:hover .dropdown-menu {
	  opacity: 1;
	  visibility: visible;
	  translate: 0 0;
	}
}
  .dropdown-menu > button {
	color: #f9f9f9;
	opacity: 1;
	height: 40px;
  }
  
  @media (width >= 500px) {
	.dropdown-menu > button {
	  opacity: 0.6;
	}
  
	.dropdown:hover .button {
	  opacity: 1;
	}
  }
  
  .dropdown-menu > button:hover {
	opacity: 1;
  }
.fe{
	margin-top: 10px;
}
.de{
	margin-top: 10px;
}